.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 0.5rem;

    .logo{
        max-width: 116px;

        img{
            width: 100%;
        }
    }

    .desktop-menu{
        display: flex;
        flex-direction: row;
        list-style: none;

        .menu-item{
            margin: 0 0.8rem;
            
            a{
                font-size: 18px;
                line-height: 23px;
                color: #7d7987;
                text-decoration: none;
                opacity: 0.5;
                transition: 0.3s;
                padding: 0.2rem;
                margin: 0 0.2rem;

                &:hover{
                    font-weight: bold;
                    color: #233348;
                    opacity: 1;
                }
            }
        }
    }

    .mobile-menu-btn{
        display: none;
    }

    .mobile-menu-container{
        display: none;
    }
}