@import '../../utils/breakpoints-library/breakpoints.scss';

.unavailable-page{
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;

        .unavailable-text{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: #233348;                 
            mix-blend-mode: normal;
            text-align: center;

            @include media("<phone"){
                font-size: 30px;
                line-height: 45px;
            }

            @include media(">=phone","<=custom-view"){
                font-size: 40px;
                line-height: 50px;
            }
        }

        .homepage-link{
            font-size: 22px;
            line-height: 56px;
            color: #FCB72B; 
            text-decoration: none; 

            &:hover{
                text-decoration: underline;
            }
        }
    }
}