@import '../../utils/breakpoints-library/breakpoints.scss';

.testimonial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem auto;
    width: 75%;

    
    @include media("<phone"){
        width: 100%;
        flex-direction: column-reverse;

    }

    @include media(">=phone","<=custom-view-2"){
        flex-direction: column-reverse;
        width: 100%;
    }

    @include media(">=custom-view-2","<=desktop"){
        width: 100%;
    }

    .user-data{
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-img{
            max-width: 140px;
            
            img{
                width: 100%;
                border: 2px solid #ffffff;
                border-radius: 50%;

            }
        }

        .user-details{
            margin: 0.5rem 0;
            text-align: center;
            .name{
                font-weight: bold;
                font-size: 22px;
                line-height: 48px;
                color: #FFFFFF;
                mix-blend-mode: normal;

                @include media("<phone"){
                    font-size: 18px;
                    line-height: 40px;
                    
                }
            
                @include media(">=phone","<=custom-view-2"){
                    font-size: 22px;
                    line-height: 45px;
                }
            }

            .occupation{
                font-weight: normal;
                font-size: 18px;
                line-height: 48px;
                color: rgba(255, 255, 255, 0.85);
                
                @include media("<phone"){
                    font-size: 16px;
                    line-height: 40px;
                    
                }
            
                @include media(">=phone","<=custom-view-2"){
                    font-size: 16px;
                    line-height: 40px;
                }
            
            }
        }
    }

    .remark{
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.9);
        mix-blend-mode: normal;
        width: 57%;
        margin: 2.5rem 3rem;

        @include media("<phone"){
            width: 95%;
            margin: 0.5rem;
            font-size: 16px;
            line-height: 25px;
            
        }
    
        @include media(">=phone","<=custom-view-2"){
            margin: 1.5rem 1rem;
            width: 95%;
            font-size: 17px;
            line-height: 30px;
        }
    
    }
}