@import '../../utils/breakpoints-library/breakpoints.scss';

.homepage{
   .homepage-header{
        background-image: url('../../assets/png/hero-bg-element.png');
        background-position: 0 130px;
        background-repeat: no-repeat;

       .hero-container{
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           align-items: center;
           margin: 1rem auto;
           width: 85%;


           .hero{
               max-width: 420px;

               @include media("<phone"){
                    max-width: 80%;
                }

                @include media(">=phone","<=custom-view"){
                    max-width: 85%;

                }

               .hero-text{
                   .hero-title{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 56px;
                        color: #233348;                 
                        mix-blend-mode: normal;

                        @include media("<phone"){
                            font-size: 30px;
                            line-height: 45px;
                        }

                        @include media(">=phone","<=custom-view"){
                            font-size: 40px;
                            line-height: 50px;
                        }
                   }

                   .hero-subtitle{
                        font-style: normal;
                        font-weight: 300;
                        font-size: 21px;
                        line-height: 32px;
                        color: #7D7987;                       
                        mix-blend-mode: normal;
                        margin: 2rem 0;

                        @include media("<phone"){
                            font-size: 16px;
                            line-height: 25px;
                        }

                        @include media(">=phone","<=custom-view"){
                            font-size: 18px;
                            line-height: 28px;
                        }
                   }
               }
           }

           .hero-lottie{
                @include media("<phone"){
                    display: none;
                }

                @include media(">=phone","<=custom-view"){
                    display: none;

                }
           }
       }
   } 

   main{
        display: flex;
        flex-direction: column;
        padding: 3rem 0 0 0;

       .bikes-container{
           display: flex;
           flex-direction: column;
           background-image: url('../../assets/png/bike-preview-bg-element.png');
           background-position: -100px -100px;
           background-size: auto;
           background-repeat: no-repeat;
           padding: 0.5rem 0 1rem 0;

           .bikes-slider-container{
                align-self: flex-end;
                width: 87%;
                position: relative;

                &::after{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    content:"";
                    width: 30%;
                    height: 100%;
                    background: rgb(255,255,255);
                    background: linear-gradient(90deg, rgba(255,255,255,0.22172619047619047) 0%, rgba(255,255,255,0.804359243697479) 14%, rgba(255,255,255,0.865983893557423) 38%, rgba(255,255,255,1) 100%);
                }

               .bikes-slider{
                   display: flex;
                   flex-direction: row;
                   overflow-x: scroll;
                   scroll-behavior: smooth;
                   padding-bottom: 1.5rem ;

                   &::-webkit-scrollbar {
                        background: transparent;
                        -webkit-appearance: none;
                        width: 0;
                        height: 0;
                   }
               }
           }

           .slider-controls{
               align-self: flex-end;
               margin: 1% 12% 0 0;

               .left-scroll-arrow,
               .right-scroll-arrow{
                    background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
                    border-radius: 100px;
                    padding: 0.8rem 0.65rem;
                    margin: 0 0.3rem;
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover{
                        background: linear-gradient(180deg, rgba(255, 188, 55, 0.342) 0%, #ffbc37bd 100%);

                    }
               }
           }
       }

       .other-bikes-container{
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            width: 85%;
            margin: 8rem 0;

            .other-bikes-slider-container{
                .other-bikes-slider-title{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 56px;
                    color: #233348;
                    mix-blend-mode: normal;
                }

                .other-bikes-slider{
                    align-self: flex-end;
                    width: 98%;
                    position: relative;

                    &::after{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content:"";
                        width: 20%;
                        height: 100%;
                        background: rgb(255,255,255);
                        background: linear-gradient(90deg, rgba(255,255,255,0.22172619047619047) 0%, rgba(255,255,255,0.865983893557423) 29%, rgba(255,255,255,1) 100%);
                    }
    
                    .main-slider{
                        display: flex;
                        flex-direction: row;
                        overflow-x: scroll;
                        padding: 2rem 1rem;
                        scroll-behavior: smooth;
                        
                       &::-webkit-scrollbar {
                            background: transparent;
                            -webkit-appearance: none;
                            width: 0;
                            height: 0;
                        }
                    }
               }


            }

            .selected-bike-info{
                display: flex;
                flex-direction: row;
                margin: 4rem 0 2rem 0;
                background-image: url('../../assets/png/hybrid-bg-element.png');
                background-position: right top;
                background-repeat: no-repeat;
                padding: 3rem 0 4rem 0;

                @include media("<phone"){
                    flex-direction: column-reverse;
                    margin: 2rem 0;

                }

                @include media(">=phone","<=custom-view"){
                    flex-direction: column-reverse;
                    margin: 2rem 0;
                }

                .product-container{
                    max-width: 382.2px;

                    @include media("<phone"){
                        max-width: 80%;
                    }
    
                    @include media(">=phone","<=custom-view"){
                        max-width: 80%;
                    }
                }

                .learn-more-description{
                    margin: 4rem ;
                    width: 40%;

                    @include media("<phone"){
                        width: 80%;
                    }
    
                    @include media(">=phone","<=custom-view"){
                        width: 80%;
                    }

                    .description-title{
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 56px;
                        color: #233348;
                        mix-blend-mode: normal;
                        margin-top: 1.5rem;
                    }

                    .description-subtitle{
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 30px;
                        color: #7D7987;
                        mix-blend-mode: normal;
                        margin: 2.5rem 0;
                    }

                    .learn-more-btn{
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 60px;
                        color: #FCB72B;
                        mix-blend-mode: normal;
                        border: 1.4px solid #FCB72B;
                        border-radius: 55px;
                        padding: 0.8rem 2rem;
                        text-decoration: none;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover{
                            background: #FCB72B;
                            color: #fff;
                        }
                    }
                }
            }
       }

       .testimonials-container{
           display: flex;
           flex-direction: column;
           align-items: center;
           background-image: url('../../assets/png/testimonial-bg-element.png');
           background-position: right bottom;
           background-repeat: no-repeat;

            .testimonials-slider-container{
                display: flex;
                flex-direction: column;
                padding: 5rem 2rem 1.3rem 2rem;
                background-color: #FCB72B;
                background-image: url('../../assets/png/testimonial-slider-bg-element.png');
                background-position: 100% -20%;
                background-repeat: no-repeat;
                border-radius: 10px;
                width: 70%;

                @include media("<phone"){
                    width: 85%;
                    padding: 2rem 1rem 1.3rem 1rem;  
                }
            
                @include media(">=phone","<=custom-view-2"){
                    width: 85%;
                    padding: 3rem 1rem 1.3rem 1rem;

                }

                @include media(">=custom-view-2","<=desktop"){
                    width: 85%;
                }

                .testimonials-slider-title{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 48px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    align-self: center;
                    text-align: center;

                    @include media("<phone"){
                        font-size: 20px;
                        line-height: 32px;  
                    }
                
                    @include media(">=phone","<=custom-view-2"){
                        font-size: 26px;
                        line-height: 40px;
    
                    }
    
                    @include media(">=custom-view-2","<=desktop"){
                        font-size: 32px;
                        line-height: 42px;
                    }

                    &:after {
                        content: "";
                        display: block;
                        background-color: #FFFFFF;
                        border-radius: 6px;
                        height: 2px;
                        width: 20%;
                        max-width: 56px;
                        margin: 0.4rem auto;
                    }
                }

                .testimonials-slider{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;

                }
            }

            .testimonials-slider-controls{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 2rem 0 9rem 0;

                .progress-indicator{
                    margin: 0 3rem;
                }

                .slide-right-btn{
                    cursor: pointer;
                    transition: 0.4s;

                    &:hover{
                        transform: translateX(5px);
                    }
                }
            }
       }
   }
}

// Conditionals

.disable-btn{
    background: #FFE8B9 !important;
}